h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(115, 115, 114);
}

html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.pink {
    color: rgb(255, 192, 203) ;
}

.blue {
    color: #87CEEB; ;
}

#basic p{
    font-weight: bold;
}