@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    #parent {
        flex-direction: column;
    }
}

h1 {
  margin: 0;
}

header {
  margin-bottom: 20px;
  background: rgb(244, 79, 79);
  text-align: center;
}

header h1 {
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
}

main {
  margin: 10px;
}

#parent{
    display: flex;
    justify-content: space-between;
}

.contents{
    border: 3px solid rgb(238, 204, 204); 
    flex-basis: 25%;
    margin: 10px 15px;
    padding: 20px 0;
    text-align: center;
}

h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122); 
}

h2::before{
  content: "●";
  color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.contents img{
    margin: 10px 0; 
    width: 70%;
}

p {
  margin: 0;
  font-size: 20px;
}

footer{
    background: rgb(244, 79, 79);
    text-align: center;
}

a:link {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(245, 178, 168);
}

a:visited {
    color: rgb(193, 234, 251);
}